* {
  box-sizing: border-box;
}

body,
html,
#app {
  height: 100%;
  margin: 0;
  font-family: var(--ui-font);
}

:root {
  --ui-font: "Helvetica Neue", Helvetica, sans-serif;
}

.excalidraw.excalidraw .color-picker-input {
  height: inherit;
}

.replay-controls.replay-controls {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9000;
  background-color: var(--island-bg-color);
  box-shadow: var(--shadow-island);
  border-radius: 4px;
  display: flex;
  padding: 0.5rem;
  gap: 0.25rem;
}

.replay-controls__button {
  display: block;
  font-size: 24px;
  aspect-ratio: 1/1;
  width: 2.5rem;
}

svg.gauge .value {
  stroke-width: 10px;
  transition: stroke 0.1s ease;
}

svg.gauge .dial {
  stroke-width: 8px;
}

.replay-controls__progress {
  height: 40px;
  width: 40px;
}
