.editorconfig
.env
.git/
.gitlab-ci-yml
.mypy_cache/
.pylintrc
.python-version
*.deb
*.sqlite3.*
**/__pycache__/
**/.DS_Store
**/.vscode/
buvo-tool.service
client/.cache/
client/.prettierrc
client/dist/
client/doc/
client/node_modules/
client/tsconfig.json
data/
devscripts/
docker-compose.yml
ENV/
local_settings.py
media/
nginx-site.conf
tmp/
tooling.requirements.txt
Makefile
