aiodns ~= 3.0.0
aiohttp ~= 3.8.1
channels ~= 3.0.4
# Django ~= 3.2.12
dj-database-url ~= 1.0.0
Django ~= 4.0
django-click ~= 2.3.0
django-debug-toolbar ~= 3.2.4
django-ninja ~= 0.17.0
Faker ~= 13.3.0
gunicorn ~= 20.1.0
httptools ~= 0.3.0
PyLTI1p3 ~= 1.11.0
redis ~= 4.3.1
uvicorn ~= 0.17.5
uvloop ~= 0.16.0
websockets ~= 10.2
